.container {
  text-align: center;
  padding: 20px;
}

.imageContainer {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 150px;
  position: fixed;
}

/* h1 {
  font-size: 2rem;
  margin-bottom: 20px;
} */