@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.div {
  background:
  linear-gradient(to bottom, rgba(248, 248, 158, 0.088), rgba(205, 169, 71, 0.542)), 
  url('../public/Images/family-pic.png') fixed;
  /* background: linear-gradient(45deg, #d7d78a, #ff8205) fixed; */
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative; 
  font-size: 0.875rem;
}

.home-page-text {
  background: linear-gradient(45deg, #d7d78a, #ff8205);
  border-radius: 15px;
  width: '65%';
}

/** fadeInLeft */
@keyframes fadeInLeft {
  from {
      opacity:0;
      transform: translatex(-500px);
  }
  to {
      opacity:1;
      transform: translatex(0);
  }
}
.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1s;
}
